<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product details</title>
</head>
<body>
    <h1>List of Product</h1>
    {% for products in Products %}
    Products Name : {{products.Name}} <br>
    Products  Condition : {{products.Condition}} <br>
    Products Price : {{products.Price}}<br>
    ======================================== <br>
    {% empty %}
        Out of Stock.
    {% endfor %}
    
    
</body>
</html>
